name: Robochecks

on: 
  push:
    branches: [ main ]
  pull_request: 
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install Python
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Install deps
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run flake8
      run: flake8 .
    - name: Run mypy
      run: mypy .
        pylint `ls -R|grep .py$|xargs`
